*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    height: 100vh;
    background-color: rgb(111, 214, 174);
    background-color: #fad7e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 35vw;
    /* height: 95vh; */
    border-radius: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #2193b0, #6dd5ed);
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.search input{
    outline: 0;
    border: 0;
    border-radius: 3rem;
    height: 3rem;
    width: 80%;
    padding-left: 1.5rem;
    font-size: 1rem;
    /* background-color: #c4c4c4; */
    background-color: #ebfffc;
    
}
.search button{
    background-color: #ebfffc;
    text-decoration: none;
    border: none;
    outline: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    align-items: center;
    padding-top: 0.4rem;
    cursor: pointer;
}
.search button img {
    width: 16px;
}

.weather{
    justify-content: center;
    align-items: center;
    display: none;
}
.weather img {
    height: 8rem;
    width: 8rem;
}

.weather .temp{
    color: white;
    font-size: 4rem;
    font-weight: 500;
}

.weather .city{
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
}

.details{    
    color: white;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 4rem ;
    /* margin: -10px; */
    padding: -1px;
}

.details .col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.col img {
    margin-right: 10px;
    height: 3rem;
    width: 3rem;
}

#wind, #humidity{
    font-size: 2rem;
}